button,
.btn {
  font-family: "Nexa Bold";
  &:hover {
    text-decoration: none !important;
  }
}

.btn-primary {
  background-color: $purple;
  border: 1px solid $purple;
  &:hover {
    background-color: darken($purple, 10) !important;
    border: 1px solid darken($purple, 10) !important;
  }
  &:focus {
    background-color: darken($purple, 10) !important;
    color: white !important;
    box-shadow: 0 0 0 0.2rem rgba(128, 0, 128, 0.164) !important;
  }
  &:disabled {
    background-color: rgba(128, 0, 128, 0.315) !important;
    border: none !important;
  }
}

.btn-outline-primary {
  color: $purple;
  border: 1px solid $purple;
}

.btn-link {
  cursor: pointer;
  color: $gold;
  &:hover {
    background-color: #f4f4f4 !important;
  }
  &:focus {
    background-color: #f4f4f4 !important;
  }
}

.payment-button {
  width: 100% !important;
  margin-top: 15px !important;
}

.make-payment-button {
  @media (max-width: $screen-md-min) {
    display: none;
  }

  &.mobile {
    display: none;
    margin: auto;

    @media (max-width: $screen-md-min) {
      display: block;
    }
  }
}

button.btn-full-width {
  width: 100%;
}

.btn-center {
  margin: auto;
  display: block;
}

.group-help-modal-button {
  margin: auto;
  @media (max-width: $screen-md-min) {
    margin: 0;
  }
}
