button,
.btn {
  font-family: 'Nexa Bold';
  &:hover {
    text-decoration: none !important;
  }
}

.btn-primary {
  background-color: $purple;
  border: 1px solid $purple;
  &:hover {
    background-color: darken($purple, 10);
    border: 1px solid darken($purple, 10);
  }
  &:focus {
    background-color: #800080 !important;
    color: white !important;
  }
}

.btn-outline-primary {
  color: $purple;
  border: 1px solid $purple;
}
