.main-container {
    width: 100vw;
    height: 100vh;
    background: paleturquoise;
}

.auth-container {
    color: red;
    width: 700px;
    margin: 0.8rem auto;
}

.footer-container {
    padding: 0.8rem;
    width: 100%;
    text-align: center;
}