#landing-page {
  .section {
    .fp-tableCell {
      @include flex(row, center);
      .left,
      .right {
        @include flex(column, center);
        width: 50%;
        img {
          margin: auto;
          width: 300px;
        }
      }
    }
  }
  #contact-section {
    .fp-tableCell {
      div {
        text-align: left !important;
        @include flex(column, center);
        width: 50%;
        img {
          width: 150px;
          margin: 20px;
        }
      }

      .right {
        img {
          width: 400px;
        }
      }
    }
  }
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: $white;
}

.auth-container {
  color: red;
  width: 700px;
  margin: 0.8rem auto;
}

.footer-container {
  padding: 0.8rem;
  width: 100%;
  text-align: center;
}

.dashboard {
  background-color: rgba(128, 0, 128, 0.027);
  padding-top: 5vh;
  .dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1048px;
    margin: auto;
    .dropdown-toggle {
      border: 2px solid#f4f4f4;
      background-color: #ffffff;
    }
  }
}

.modal-footer {
  justify-content: space-between;
  p {
    justify-content: center;
    padding-top: 15px;
  }
  .btn {
    float: right !important;
  }
}

.not-group-admin {
  .remove-button {
    display: none;
  }
}

.group-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
  .btn {
    position: relative;
  }

  @media (max-width: $screen-md-min) {
    display: none;
  }

  .invite-button {
    width: 180px !important;
    height: 130px !important;
    border-radius: 5%;
    background-color: transparent;
    margin: 0 15px;
    border: 1px dashed #800080;
    color: #800080;
    font-size: 2rem;
  }

  .remove-button {
    width: 50px;
    float: right;
    border: 0 !important;
    position: absolute;
    top: -20px;
    right: -10px;
    z-index: 2;
    box-shadow: 0 0 4px 0 rgba(17, 22, 26, 0.16), 0 2px 4px 0 rgba(17, 22, 26, 0.08),
      0 4px 8px 0 rgba(17, 22, 26, 0.08);
  }
}

.group-container-mobile {
  display: none;
  @media (max-width: $screen-md-min) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
  }
}

.calculate-price {
  margin-top: 50px;
}

@media (max-width: $screen-md-min) {
  #landing-page {
    .section {
      .fp-tableCell {
        .left {
          text-align: center;
          width: 100%;
          order: 2;
        }
        .right {
          width: 100%;
          order: 1;
          position: relative;
          img {
            width: 150px;
          }
        }
      }
    }
  }
  .dashboard {
    .dashboard-header {
      .welcome-text {
        font-size: 1rem;
      }
    }
  }
}

.payment-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
  padding: 15px;
  border-bottom: 1px solid lightgray;

  .table-button {
    border-radius: 15px;
    width: 120px;
    height: 40px;
    display: flex;
    background: $purple;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px;
    margin-top: -10px;

    button {
      border: 0;
      background: $white;
      color: $purple;
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
  }
  .display-price {
    h4 {
      color: $purple !important;
      font-size: 2rem !important;
    }
    line-height: 1px;
  }
}

.payment-breakdown-container {
  padding: 15px;
  border-bottom: 1px solid lightgray;
  p {
    display: flex;
    justify-content: space-between;
  }

  span {
    color: gray !important;
  }
}
