.dropdown-toggle {
  cursor: pointer;
}

.dropdown-item {
  &:hover {
    background-color: transparent !important;
  }
  &:focus {
    background-color: transparent !important;
  }
  &:disabled {
    background-color: transparent !important;
  }
}
