#forgot-pasword-form,
#reset-pasword-form {
  padding: 10px;
  padding-top: 100px;
  margin: auto;
  width: 100%;
  max-width: 800px;
}

.form-error-msg {
  color: red;
  font-weight: 100;
}

.password-toggle-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
