#on-boarding {
  padding: 15px;
  .skip-text {
    float: right;
    button {
      color: #a9a9a9;
    }
  }
  .content {
    padding-top: 20vh;
    width: 100%;
    margin: auto;
    max-width: 800px;
    text-align: center;
    .item {
      * {
        margin: 30px auto;
      }
    }
  }
}

@media (max-width: 800px) {
  #on-boarding {
    .content {
      padding-top: 10vh;
    }
  }
}
