.modal {
  background: rgba(128, 0, 128, 0.116);
  border: none;
  .modal-content {
    border: none;
    .modal-header {
      border: none;
      .modal-title {
        text-align: center;
        width: 100%;
        font-size: 20px;
        font-family: "Nexa Bold";
        color: $purple;
        span {
          color: darkgray;
          button,
          .btn {
            background-color: transparent !important;
            color: $purple;
            svg {
              margin: 0 10px;
            }
            svg:nth-child(2) {
              color: darkgray;
            }
          }
        }
      }
    }
    .modal-body {
      padding: 0 1rem 1rem;
    }
  }
}

.group-help-modal {
  display: flex;
  flex-direction: column;

  * {
    line-height: 2em;
  }

  span {
    color: $purple;
    font-size: 1.5rem;
    margin: 0.2rem;
  }

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
