// colors
$white: #ffffff;

$gold: #ffd700;

$purple: #800080;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1280px;

$header-height: 100px;

$sidebar-width: 300px;

$number-bg: $purple;
$number-color: #fff;

$number-size: 30px;
$number-bg-size: 5px;

@for $i from 1 through 20 {
  ol[start="#{$i}"] {
    counter-reset: step-counter $i - 1;
  }
}
