// colors
$white: #ffffff;

$gold: #ffd700;

$purple: #800080;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$header-height: 100px;

$sidebar-width: 300px;