@font-face {
  font-family: "Google sans Bold";
  src: url("../fonts/GoogleSans-Bold.ttf");
}

@font-face {
  font-family: "Google sans Regular";
  src: url("../fonts/GoogleSans-Regular.ttf");
}

@import "./imports";
@import "./variables";
@import "./mixins";
@import "./typography";
@import "./forms";
@import "./nav";
@import "./button";
@import "./images";
@import "./backgrounds";
@import "./container";
@import "./cards";
@import "./modals";
@import "./dropdown";
@import "./tables";
@import "./misc";

body {
  font-family: "Google sans Regular", sans-serif !important;
  font-weight: 900;
  color: $black;
}

.float {
  animation: float 3s ease-out infinite;
}
.pagination {
  justify-content: flex-end;
}
.page-link {
  color: initial;
}
.page-item.active .page-link {
  border-color: $purple;
  background-color: $purple;
}
.page-link:hover {
  color: $purple;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}
.mobile-only {
  display: none;
}

@media (max-width: $screen-md-min) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}
