Your payment evidence for canopy scheme has been {{payment_status}} for the following reason:
{{ admin_msg }}, 
if payment_accepted
show this -> you can now access the Canopy Scheme group feature
else
You may have to reupload the evidence that adhere to the instructions from the admin.

<a href="{{ dashboard_url }}">Go to dashboard</a> [button]