Data from controller { user, confirm_email_link }
Hey there, thanks for registering on the canopy scheme platform.
How to use the canopy scheme platform
{{ user.email }}

Thanks. Please, click this link to confirm your email address.
{{ email_verify_link }}